/*Start Global Rules */
:root {
    --font-family: "Montserrat", sans-serif;
    --blue-color: #088b8b;
    --black-color: #000000;
    --white-color: #ffffff;
    --white-bone-color: #f5f2ea;
    --main-transition:0.2s;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: var(--font-family);
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
a {
text-decoration: none;
}

  /* End Global Rules */
  /* Start login form  */
  .login-container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/banner-1.png");
    background-size: cover;
    background-position: center;
}

.login-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    pointer-events: none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
  }
.login-container .form-box{
    position: fixed;
    max-width: 400px;
    min-width:320px;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%) scale(1.15);
    background: #f5f2eae3;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius:30px;
    box-shadow:0 0 15px #088b8b;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transform: translate(-50%, -50%) scale(1.15);
    -moz-transform: translate(-50%, -50%) scale(1.15);
    -ms-transform: translate(-50%, -50%) scale(1.15);
    -o-transform: translate(-50%, -50%) scale(1.15);
}
.login-container .form-box .header{
    align-items: center;
    background-color: #088b8bee;
    padding: 10px 30px;
    border-radius: 20px  20px 0 0;
    -webkit-border-radius: 20px  20px 0 0;
    -moz-border-radius: 20px  20px 0 0;
    -ms-border-radius: 20px  20px 0 0;
    -o-border-radius: 20px  20px 0 0;
    text-align: center;
    color:var(--white-color);
    font-weight: 100;
}
  .login-container .header h2{
    font-weight: 400;
    margin-bottom:4px;
  }
  .login-container .form-close{
    position: absolute;
    right:20px;
    top:15px;
    font-size: 40px;
    color: #f5f2eaf3;
    cursor: pointer;
  }
  .login-container .form{
    padding:25px 25px 35px;
  }
  
  .login-container .form .input-box{
    margin-bottom: 20px;
  }
  .login-container .form .input-box label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--blue-color);
    font-weight: 700;
  }
  .login-container .form .input-box input{
    width: 100%;
    padding: 13px 10px;
    color:var(--blue-color);
    border: var(--blue-color) 1px solid;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition:all ease var(--main-transition);
    -webkit-transition:all ease var(--main-transition);
    -moz-transition:all ease var(--main-transition);
    -ms-transition:all ease var(--main-transition);
    -o-transition:all ease var(--main-transition);
  }
  .login-container .form .input-box input::placeholder{
    color:#088b8b6e;
    font-size: 16px;
  }
  .login-container .form .input-box input:focus{
    border: 2px solid var(--blue-color);
    outline: none;
  }
  .login-container  .form .button{
    width:100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 18px;
  }
  .login-container  .form .button +div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 13px;
    margin-bottom: 25px;
  }
  .login-container  .form .button +div a{
    color:var(--blue-color);
    font-weight: 300;
  }
  .login-container  .form  .login-signup{
    text-align: center;
    color:var(--blue-color);
    font-size: 17px;
    font-weight: 300;
  }
  .login-container  .form  .login-signup a{
    color:var(--blue-color);
    font-weight: 700;
  }
/* End login form  */