/* This file has (header css || profile page ||instruction page) */
/*Start Global Rules */
:root {
  --font-family: "Montserrat", sans-serif;
  --blue-color: #088b8b;
  --black-color: #000000;
  --white-color: #ffffff;
  --white-bone-color: #f5f2ea;
  --main-transition:0.2s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* End Global Rules */
/* Start header */
.nav {
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  width: 100%;
  height:100px;
  padding: 15px 150px;
  background-color: var(--white-bone-color);
  box-shadow: 0 0 10px #ddd;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
.nav .main-nav{
  display: flex;
  align-items: center;
}
.nav .logo img{
  margin-right: 40px;
  width: 150px;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  color: var(--blue-color);
  font-weight: 400;
  font-size: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.nav .nav-links .active,
.nav .nav-links a:hover{
    font-weight: 700;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .icons{
  display: flex;
}
.nav .search-icon {
  color:var(--blue-color);
  font-size: 25px;
  cursor: pointer;
  padding-right:10px;
}

.nav .search-box {
  position: absolute;
  top:25%;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.nav .search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: var(--blue-color);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.nav .search-box input {
  height: 100%;
  width: 100%;
  border: 1px solid #0aacace3;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  padding: 0 15px 0 45px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.nav .search-box input::placeholder{
  font-size: 15px;
  color: var(--blue-color);
}
.nav .icons .user-box{
  position: relative;
}

.nav .icons .user-box .user-links2,
.nav .icons .user-box .user-links1{
  position: absolute;
  right:0;
  top:calc(100% + 20px);
  padding:0;
  margin: 0;
  min-width: 200px;
  list-style-type: none;
  background-color: #099797;
  display: none;
  z-index: 200;
  border-radius: 5px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav .icons .user-box.showAfter .user-links2,
.nav .icons .user-box.showBefore .user-links1{
  display: initial;
}
.nav .icons .user-box .user-links2::before,
.nav .icons .user-box .user-links1::before{
    content: "";
    border:12px solid ;
    position: absolute;
    top:-22px;
    right:1px;
    border-color: transparent transparent #099797 ;
}
.nav .icons .user-box .user-links2 li a,
.nav .icons .user-box .user-links1 li a{
  display: block;
  padding:15px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color:var(--white-color);
  transition:var(--main-transition);
  -webkit-transition:var(--main-transition);
  -moz-transition:var(--main-transition);
  -ms-transition:var(--main-transition);
  -o-transition:var(--main-transition);
}
.nav .icons .user-box .user-links2 :first-child,
.nav .icons .user-box .user-links1 :first-child{
  border-bottom:#ddd 1px solid ;
}

.nav .icons .user-box .user-links2 li a:hover,
.nav .icons .user-box .user-links1 li a:hover{
  font-weight: 700;
}

.nav .icons .user-icon {
  color: var(--blue-color);
  font-size: 25px;
  padding-left:10px;
  border-left:2px solid  #088b8b83;
  cursor: pointer;
  position: relative;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
/* responsive */
/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
  
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .main-nav{
    width:70%;
    justify-content: space-between;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #088b8b ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav.openNav .nav-links a{
    color:var(--white-bone-color)
  }
  .nav .navOpenBtn {
    color: var(--blue-color);
    font-size: 25px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }
  .content-instruction{
    width: 100% !important;
  }
}
/* End header */
/* Start main buttons */
.Pmain-buttons{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  top:100px;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 99;
}
.Pmain-buttons .safe-btn,
.Pmain-buttons .emergency-btn{
  cursor: pointer;
  width:50%;
  border: none;
  font-size: 20px;
  color:white;
  padding:20px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all .25s ease-out;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  font-weight: 500;
}
.Pmain-buttons .safe-btn:hover,
.Pmain-buttons .emergency-btn:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor:pointer;
    font-weight: 600;
}

.Pmain-buttons .emergency-btn{
  background-image: url(../images/button-4.png);
  background-size: cover;
}
.Pmain-buttons .safe-btn{
  background-image: url(../images/button-3.png);
  background-size: cover;
}
/* End main buttons */
/* Start Profile page  */
.account-details{
  position: absolute;
  top:150px;
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  color: var(--blue-color);
  background-image: url(../images/data-page.png);
  background-size:cover;
  background-position: center;
}
.account-details h1{
  margin: 60px  0 30px;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}
.account-details form{
  padding:0 150px;
}
@media(max-width:767px){
  .account-details form{
    padding:0 50px;
  }
}
.account-details .image-div{
  margin-bottom: 30px;
  position: relative;
  width:300px;
}
.account-details .image-div img{
  width: 220px;
  height:230px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.account-details #file-path{
  display: none;
}
.account-details .image-div label{
  position: absolute;
  bottom:5px;
  left:0;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color: #0000008e;
  width: 220px;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  pointer-events: none;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  opacity: 0;
}
.account-details .image-div:hover label{
  opacity:1;
  pointer-events: all;
}

.account-details .input-box label{
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  color: var(--blue-color);
  font-weight: 700;
}
.account-details  .input-box input{
  margin-bottom:25px;
  width: 100%;
  padding:20px 10px;
  color:var(--blue-color);
  border: var(--blue-color) 1px solid;
  background-color: transparent;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition:all ease var(--main-transition);
  -webkit-transition:all ease var(--main-transition);
  -moz-transition:all ease var(--main-transition);
  -ms-transition:all ease var(--main-transition);
  -o-transition:all ease var(--main-transition);
}
.account-details .input-box input::placeholder{
  color:#088b8b6e;
  font-size: 18px;
}
.account-details form .input-box input:focus{
  border: 2px solid var(--blue-color);
  outline: none;
}

.account-details  form .button{
  width:100%;
  margin-bottom: 10px;
  font-size: 20px;
  padding:20px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
}
.account-details  form .button:hover{
  box-shadow:0 0 5px #0bd6d6f8;
}
.account-details form .half{
  display: flex;
  gap:80px;
}
@media(max-width:767px){
  .account-details form .half{
    gap:40px;
  }
}
.account-details form .half .half-box{
  flex: 1;
}
.account-details footer{
  padding:20px 200px 25px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
}
.account-details footer p{
  padding-right: 10px;
}
.account-details footer span{
  padding-left: 10px;
  border-left: 1px solid #088b8b80;
}
/* End Profile page  */
/* start instruction */
.instruction{
  margin-top: 100px;
  background-image: url('../images/instractions-page.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.instruction h1{
  color: var(--blue-color);
  margin: 80px  0 30px;
  text-align: center;
  font-size: 45px;
}
.instruction .content-instruction{
  background-color: #088b8b32;
  color: #088b8b;
  width: 100%;
  margin: 0 auto;
}
.instruction .number-container{
  align-items: center;
  padding-bottom: 30px;
  padding-left:50px;
}
.instruction .number-container .text{
  font-size: 20px;
  color: #088b8b;
}
.instruction .instructions-list ol:not(:last-of-type){
  margin:10px 70px 20px 0;
}
.instruction .instructions-list ol:last-of-type{
  margin:10px 70px 0 0;
}
/* end instruction */