.weather-content{
    padding: 2em 0em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1.2em;
    color: var(--white-color);
    background: url("../images/weather.png") no-repeat center;
    background-size: cover;
    line-height: 3em;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
/* Left weather section*/
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#date{
    font-size: 1.5em;
    font-weight: 200;
}
#location{
    font-size: 1.5em;
    font-weight: 600;
}
#weather-icon{
    width: 8em;
    padding: 1em;
}
#description{
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 1em;
}
.start p span{
    font-size: 3.5em;
    font-weight: 200;
}
/* Middle weather section */
.middle{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 2em;
}
.middle img{
    width: 2.5em;
    fill: white;
}
.top-forecast{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.bottom-forecast{
    display: flex;
    flex-flow: row wrap;
}
/* Right weather section */
.end{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.element-div{
    width: 5em;
    font-size: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.end-div-element{
    width: 15em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.end h1{
    font-weight: 200;
    font-size: 1.5em;
    padding-top: 1.5em;
}